# testResult 测试结果

> 我们需要测试不同的网络，以决定使用什么网络进行最终的提交。现使用本md文件记录可能需要测试的网络，测试使用的ipynb文件，测试的结果

## 模板

```markdown
**网络名称（如有）：** xxxNet

**参考资料：**

- xxx.com
- xxx.org

**测试结果：**

**备注：**
```

## 可能的参考资料

- [21秒看尽ImageNet屠榜模型，60+模型架构同台献艺](https://www.jiqizhixin.com/articles/2019-08-08-4)
- [纵览轻量化卷积神经网络：SqueezeNet、MobileNet、ShuffleNet、Xception](https://www.jiqizhixin.com/articles/2018-01-08-6)
- [A guide to convolution arithmetic for deep learning](https://arxiv.org/abs/1603.07285)
- [vdumoulin/conv_arithmetic](https://github.com/vdumoulin/conv_arithmetic)

## 测试记录

- [ ] ResNet

---

**网络名称：** ResNet

**参考资料：**

- [Deep Residual Learning for Image Recognition](https://arxiv.org/abs/1512.03385)

**测试结果：** 暂未测试

**备注：** 

---

**网络名称：** Inception

**参考资料：**

- [Rethinking the Inception Architecture for Computer Vision](https://arxiv.org/abs/1512.00567)
- [从Inception v1到Inception-ResNet，一文概览Inception家族的「奋斗史」](https://www.jiqizhixin.com/articles/2018-05-30-7)

**测试结果：** 暂未测试

**备注：**
